@model Company


@{
    ViewData["Title"] = "Create Company";
}
<form asp-controller="Company" asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-8 offset-2">

            <div class="form-group">
                <label asp-for="Name">Name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name"></span>
            </div>


            <div class="form-group">
                <label asp-for="ContactNumber">Contact Number</label>
                <input asp-for="ContactNumber" class="form-control" />
                <span asp-validation-for="ContactNumber"></span>
            </div>


            <div class="form-group">
                <label asp-for="EmailAddress">Email Address</label>
                <input asp-for="EmailAddress" class="form-control" />
                <span asp-validation-for="EmailAddress"></span>
            </div>


            <div class="form-group">
                <label asp-for="CompanyLogo">Company Logo</label>
                <input type="file" asp-for="CompanyLogo" class="form-control" />
                <span asp-validation-for="CompanyLogo"></span>
            </div>

            <div class="form-group pt-3">
                <button type="submit" asp-controller="Company" asp-action="Create" class="btn btn-primary">Create</button>
            </div>
        </div>
    </div>

</form>